#Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.tar
*.zip

**/target
**/.project
**/.classpath
**/.metadata
**/.settings
**/src/main/java/**/search/schema
**/src/main/java/META-INF/sun-jaxb.episode
**/Open Notebook.onetoc2
.idea/
*.iml
**/.idea/
.DS_Store
dependency-reduced-pom.xml
/target/
/log/
/bin/
.java-version
